* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.myWork {
  height: 94vh;
  padding-top: 6vh;
  width: 80%;
  margin: auto;
  h2 {
    padding: 0;
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .projectContainer {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    .project {
      margin: auto;
      border: 1px solid black;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 10px;
      width: 300px;
      height: 300px;
      overflow: hidden;

      p {
        font-size: 1.1rem;
        font-weight: 600;
      }

      img {
        width: 80%;
        height: 70%;
        object-fit: cover;
        border-radius: 20px;
      }

      .buttons {
        display: flex;
        gap: 10px;

        button {
          font-weight: 600;
          padding: 10px;
          border-radius: 20px;
          background-color: transparent;
        }

        button:hover {
          background-color: rgb(73, 70, 70);
          color: rgb(235, 227, 227);
          transition: 0.5s;
        }
      }
    }
  }
}
