$light-shadow: rgb(188, 247, 171);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.experience {
  overflow: hidden;
  padding-top: 6vh;
  height: 75vh;
  margin-bottom: 100px;

  h2 {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  .skills {
    margin: auto;
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 300px;

    .skillList {
      display: flex;
      align-items: center;

      .icon {
        padding: 5px;
      }

      .icon:hover {
        -webkit-box-shadow: 3px 5px 43px 13px $light-shadow;
        box-shadow: 3px 5px 43px 13px $light-shadow;
        transition: 1s;
      }
      .description {
        padding: 2px;
      }
    }
  }
}

@media (max-width: 800px) {
  .experience .skills {
    margin: auto;
    width: 90%;
    display: flex;
    flex-direction: column;
    gap: 50px;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 300px;
  }
}
